/**
 * @file
 * Main styling
 */

 .in-maintenance #logo {
    display:none;
 }

#site-name span {
    color: #cc0000;
}

#slideshow {
    position: relative;
}

.slide {
    max-height: 529px;
    display: block;
}

.slide img {
    max-width: 940px;
    max-height: 529px;
}

.slide .text-container {
    background: rgba(0,0,0, 0.5);
    position: absolute;
    bottom:0;
    left: 0;
    color: #fff;
    padding: 2%;
    width: 96%;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.slide .text-container a {
    color: #fff;
}

.breadcrumb {
    margin: 10px 0;
}

.front .col {
    width:33%;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    position: relative;
    height: 300px;
    max-height: 300px;
}

.col img {
    display: block;
    width :100%;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.podcast-wrapper {
    clear: both;
    border-bottom: 1px solid #000;
    position: relative;
    padding-bottom: 30px;
    display: block;
}

.podcast-wrapper a {
    display: block;
    position: relative;
}

.podcast-wrapper a:hover h3 {
    text-decoration: underline;
}

.podcast-wrapper a:hover {
    color: #000!important;
}

.podcast-wrapper img {
    float: left;
    margin-right: 30px;
    display: block;
    max-width: 200px;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 1px 1px 10px #333;
}

.featured-top {
    width: 100%;
    /*background: url('../images/bg-pattern-t.gif') repeat-x center top #F5F5F5;*/
    position: relative;
    display: block;
}

.featured-top .column {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
    color: #fff;
}

.featured-top .column img {
    max-width: 100%;
    height: auto;
    background-color: #fff;
}

.download-btn {
    border-radius: 10px;
    background: #cc0000;
    text-align: center;
    display:inline-block;
    padding: 10px;
    color: #fff!important;
    margin: 15px 0;
}

.download-btn:hover {
    background-color: #910303;
}

.column iframe {
    max-width: 430px;
    width: 100%;
    height: 255px;
    max-height: 430px;
}

