/**
 * @file
 * Main styling
 */

 .in-maintenance #logo {
    display:none;
 }

#site-name span {
    color: #cc0000;
}

#slideshow {
    position: relative;
}

.slide {
    max-height: 529px;
    display: block;
}

.slide img {
    max-width: 940px;
    max-height: 529px;
}

.slide .text-container {
    background: rgba(0,0,0, 0.5);
    position: absolute;
    bottom:0;
    left: 0;
    color: #fff;
    padding: 2%;
    width: 96%;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.slide .text-container a {
    color: #fff;
}

.breadcrumb {
    margin: 10px 0;
}

.front .col,
.news .col {
    width:33%;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    position: relative;
    height: 300px;
    max-height: 300px;
}

.col img {
    display: block;
    width :100%;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.col p {
    font-size: 14px;
}

.podcast-wrapper {
    clear: both;
    border-bottom: 1px solid #000;
    position: relative;
    padding-bottom: 30px;
    display: block;
}

.podcast-wrapper a {
    display: block;
    position: relative;
}

.podcast-wrapper a:hover h3 {
    text-decoration: underline;
}

.podcast-wrapper a:hover {
    color: #000!important;
}

.podcast-wrapper img {
    float: left;
    margin-right: 30px;
    display: block;
    max-width: 300px;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 1px 1px 10px #333;
}

.featured-top {
    width: 100%;
    /*background: url('../images/bg-pattern-t.gif') repeat-x center top #F5F5F5;*/
    position: relative;
    display: block;
}

.featured-top h2 a:hover {
    color: #ccc;
}

.featured-top .column.video {
    padding: 0;
}

.featured-top .column {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
    color: #ccc;
}

.featured-top .column img {
    max-width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(255,255,255, 0.3);
}

.download-btn {
    border-radius: 10px;
    background: #cc0000;
    text-align: center;
    display:inline-block;
    padding: 10px;
    color: #fff!important;
    margin: 15px 0;
    max-width: 300px;
}

.download-btn:hover {
    background-color: #910303;
}

.column iframe {
    max-width: 470px;
    width: 100%;
    height: 300px;
    max-height: 430px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px #333;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.submitted {
    margin: 10px 0;
    position: relative;
    display: block;
}

.submitted a {
    color: #cc0000;
}

.bodyImage {
    float: left;
    max-width: 350px;
    margin: 0 20px 20px 0;
    display: block;
    background: #ffffff;
    box-shadow: 1px 1px 10px #333;
}
